<div class="news-content"> 
    <% articles.forEach(function(article) { %> 
         <% if (article.image) { %>
        <% let now=new Date()%>
        <% let pubdate=new Date(article.date)%> 
        <% if (now.getTime()-pubdate.getTime()< timelapseint) { %>
    <div class="card news-item">     
        <div class="card-content">         
            <div class="article-picture" style="background-image: url(<%=`${article.image}`%>)">
            </div>         
            <div class="media-source">   
             <div class="article-source-logo"  style="background-image: url(./images/logoi-portala/<%=`${article.logo}`%>)"></div>
               <time class="day-n-time"
                    datetime="<%= article.date %>"><%= moment(article.date).tz('Europe/Belgrade').format('dddd, Do MMMM YYYY, HH:mm:ss '); %></time>
            </div>
            <div class="media media-data">
                <div class="media-content">
                 
                    <a href="/preview/<%=`${article.title}`%>/<%=`${article.content}`%>/<%=`${article.source}`%>?articleLink=<%=article.link%>&sourceLogo=<%=article.logo%>&artImage=<%=article.image%> "
                        class="art-title"><%= article.title %></a>
                </div>
                <div class="content ">
                    <p><%= article.contentToShow %></p>
                </div>
            </div>


        </div>
    </div>
    <% }; %>
    <% }; %>
    <% }); %>

    <script>
        async function showArticle(title, content, source, link, logo, image) {
            let request = {
                title: title,
                content: content,
                source: source,
                link: link,
                logo: logo,
                image: image
            };
            let data = JSON.stringify(request);
            let options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                credentials: 'include',
                body: data,
            };
            fetch("/showarticle", options);
        };
    </script>
</div>