<div class="news-content">
    <% articles.forEach(function(article) { %>
        <% let now=new Date()%>
        <% let pubdate=new Date(article.date)%>
        <% if (now.getTime()-pubdate.getTime()< timelapseint) { %>
    <% if (article.drzava==subpath) { %>

    <div class="card news-item">
        <div class="card-content">
            <% if (article.image) { %>
            <div class="article-picture" style="background-image: url(<%=`${article.image}`%>);">
            </div>
            <% }else{ %>
            <div class="article-picture" style="background-image: url(../../images/no-image.jpg);">
            </div>
            <% }; %>
            <div class="media-source">
                <img src="<%= article.logo %>" alt="" width="35px" height="15px" style="background-color: red;">
                <time class="day-n-time"
                    datetime="<%= article.date %>"><%= moment(article.date).tz('Europe/Belgrade').format('dddd, Do MMMM YYYY, HH:mm:ss '); %></time>

            </div>
            <div class="media media-data">

                <div class="media-content">
                    <a href="/preview/<%=`${article.title}`%>/<%=`${article.content}`%>/<%=`${article.source}`%>?articleLink=<%=article.link%>&sourceLogo=<%=article.logo%>&artImage=<%=article.image%> "
                        class="title is-4"><%= article.title %></a>
                </div>
            </div>
            <div class="content ">
                <p><%= article.contentToShow %></p>
            </div>
        </div>
    </div>
    <% }; %>
    <% }; %>
    <% }); %>
</div>