<nav class="navigation-bar subtitles-navigation">
    <ul class="navigation-list">
        <li class="sub-nav-tab country-name"><a href="/<%= subpath %>"> <%= title %></a></li>
        <li class="sub-nav-tab"><a href="/politika/<%= subpath %>/<%= title %>">Politika</a></li>
        <li class="sub-nav-tab"><a href="/zabava/<%= subpath %>/<%= title %>">Zabava</a></li>
        <li class="sub-nav-tab"><a href="/sport/<%= subpath %>/<%= title %>">Sport</a></li>
        <li class="sub-nav-tab"><a href="/drustvo/<%= subpath %>/<%= title %>">Društvo</a></li>
        <li class="sub-nav-tab"><a href="/kultura/<%= subpath %>/<%= title %>">Kultura</a></li>
        <li class="sub-nav-tab"><a href="/aktuelno/<%= subpath %>/<%= title %>">Aktuelno</a></li>
    </ul>
</nav>