<nav class="navigation-bar subtitles-navigation">
    <ul class="navigation-list">


        <li><a href="/<%= subpath %>"> <%= title %></a></li>
        <li><a href="/politika/<%= subpath %>/<%= title %>">Politika</a></li>
        <li><a href="/zabava/<%= subpath %>/<%= title %>">Zabava</a></li>
        <li><a href="/sport/<%= subpath %>/<%= title %>">Sport</a></li>
        <li><a href="/drustvo/<%= subpath %>/<%= title %>">Drustvo</a></li>
        <li><a href="/kultura/<%= subpath %>/<%= title %>">Kultura</a></li>
        <li><a href="/aktuelno/<%= subpath %>/<%= title %>">Aktuelno</a></li>
    </ul>
</nav>