<!DOCTYPE html>
<html lang="mk">
<%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/header.ejs')%>
    <div class="navigation-bars">
        <%- include('./partials/main-navigation.ejs')%>
        <%- include('./partials/sub-header.ejs')%>
    </div>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                <div class="column is-half is-offset-one-quarter">
                </div>
                <div class="column is-full">
                    <%- include('./partials/one-country-articles.ejs')%>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs')%>
</body>

</html>