<!DOCTYPE html>
<html lang="sr">

<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/header.ejs')%>
    <div class="navigation-bars">
        <%- include('./partials/main-navigation.ejs')%>
    </div>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">                
            <% portals.forEach(function(portal) { %>
                <div>
                    <div class="portal-picture" style="background-image: url(<%=`${portal.logo}`%>)"></div>
                    <div><a href="/portal/<%=`${portal.name}`%>"><%=portal.name%></a> </div>
                </div>
                <% }); %>          
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs')%>
</body>

</html>