<!DOCTYPE html>
<html lang="sr">
<%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/header.ejs')%>
    <div class="navigation-bars">
        <%- include('./partials/main-navigation.ejs')%>
    </div>
    <p>SaÄuvane vesti:</p>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                <div class="column is-full">
                    <% for (let i=0; i< articles.length; i++){ %>
                       <p><a href="/selected/?articleLink=<%=articles[i].link%>"><%= i+1+". "+ articles[i].title %></a></p>
                    <% }; %>
                 
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs')%>
</body>

</html>