<!DOCTYPE html>
<html lang="sr">
<%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/header.ejs')%>
    <div class="navigation-bars">
        <%- include('./partials/main-navigation.ejs')%>
    </div>
    <section class="section">
        <div class="container is-fluid">
            <div class="columns is-multiline">
                <div class="column is-full">
                    <% articles.forEach(function(article) { %>
                  <p><a href="/selected/?articleLink=<%=article.link%>"><%= article.title %></a></p>
                  

                    <% }); %>
                 
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs')%>
</body>

</html>